<table class="table table-striped">
    <tr>
        <td>医生Id</td>
        <td>医生所属科室</td>
        <td>医生姓名</td>
        <td>医生年龄</td>
        <td>医生性别</td>
        <td>入职时间</td>
        <td>医生状态</td>
        <td>操作</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Doc_Id</td>
            <td>@item.Adm_Name</td>
            <td>@item.Doc_Name</td>
            <td>@item.Doc_Age</td>
            <td>@item.Doc_Sex </td>
            <td>@item.Doc_Time</td>
            <td>@(item.Doc_Type == 1 ? "就诊" : "空闲" )</td>
            <td>
                @Html.ActionLink("删除", "DeleteDoctor", new { id = item.Doc_Id }, new AjaxOptions { Confirm = "确认要删除吗？" })
                @Html.ActionLink("删除", "UpdateDoctor", new { id = item.Doc_Id }, new AjaxOptions { Confirm = "确认要修改吗？" })
            </td>
        </tr>
        <tbody id="tb"></tbody>
    }
</table>
