@{
    Layout = null;
}
@using PagedList;
@using PagedList.Mvc;
@using MedicalClinicKHD.Models;
@model PagedList<Registration>
<!DOCTYPE html>

<html>
<head>
    @*<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
        <script src="~/layui-v2.4.5/layui/layui.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/iecss.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>MedicalClinic</title>
    <script>

        function AddHuiFang(id, id1) {
            layer.open({
                type: 2,
                title: '就诊记录',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '/Doctor/AddReturnrecord?id=' + id + "&id1=" + id1
            })
        }
        function keshi(id) {
            layer.open({
                type: 2,
                title: '就诊记录',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '/PatientLogin/Patient?id=' + id
            })
        }
    </script>
</head>
<body>
    <div id="main_container">
        <div class="header">
            <div id="logo">

                <a href="index.html"><img src="~/images/logo.png" alt="" title="" width="162" height="54" border="0" /></a>
                <span style="float:right;text-align:center;margin-left:230px;margin-bottom:5px;padding-top:10px;font-size:20px;">已就诊</span>
            </div>
            <div style="margin-left:780px;height:30px;width:120px;padding-top:10px">
                <a href='/Doctor/Registration'>就诊界面</a>
                <a href='/Doctor/ReturnCode'>回访记录</a>
            </div>
        </div>
        <div style="height:400px;background-color:#92dafe;margin-bottom:10px;margin-top:10px;">
            <table class="table table-bordered">
                <tr>
                    <td>医生</td>
                    <td>科室</td>
                    <td>患者姓名</td>
                    <td>就诊时间</td>
                    <td>就诊状态</td>
                </tr>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Doc_Name</td>
                        <td>@i.Adm_Name</td>
                        <td><a href="#" onclick="keshi(@i.Pat_Id)"> @i.Pat_Name </a> </td>
                        <td>@i.Reg_Time</td>
                        @if (i.Reg_Type == 2)
                        {
                            <td> <a href="#" onclick="AddHuiFang(@i.Doc_Id,@i.Reg_Id)">回访</a></td>
                        }
                        else if (i.Reg_Type == 3)
                        {
                            <td>已回访完</td>
                        }

                    </tr>
                }
            </table>
            每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
            @Html.PagedListPager(Model,pageIndex=>Url.Action("Index",new { pageIndex }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat="首页",
                LinkToNextPageFormat="下一页",
                LinkToPreviousPageFormat="上一页",
                LinkToLastPageFormat="末页",
                MaximumPageNumbersToDisplay=5,
                DisplayItemSliceAndTotal = false
            }
           )
        </div>
        <div id="middle_box">
            <div class="middle_box_content"><img src="~/images/banner_content.jpg" alt="" title="" /></div>
        </div>



    </div>
</body>
</html>
