@{
    Layout = null;
}
@using MedicalClinicKHD.Models;
@model List<Registration>
<!DOCTYPE html>

<html>
<head>
    @*<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
        <script src="~/layui-v2.4.5/layui/layui.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/iecss.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>MedicalClinic</title>
    <script>
        function fun(a) {
            alert(a);
            location.href = "/Doctor/Registration";
        }
        function keshi(id) {
            //登陆iframe窗
            layer.open({
                type: 2,
                title: '病人详细信息',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '/PatientLogin/Patient?id=' + id
            })
        }
        function AddDoctorecord(id) {
            layer.open({
                type: 2,
                title: '就诊记录',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '/Doctor/Doctorecord?id=' + id
            })
        }
    </script>
</head>
<body>
    <div id="main_container">
        <div class="header">
            <div id="logo">

                <a href="index.html"><img src="~/images/logo.png" alt="" title="" width="162" height="54" border="0" /></a>
                <span style="float:right;text-align:center;margin-left:230px;margin-bottom:5px;padding-top:10px;font-size:20px;">就诊界面</span>
            </div>
        </div>
        <div style="height:400px;background-color:#92dafe;margin-bottom:10px;margin-top:10px;">
            <table class="table table-bordered">
                <tr>
                    <td>医生</td>
                    <td>科室</td>
                    <td>患者姓名</td>
                    <td>就诊时间</td>
                    <td>就诊状态</td>
                </tr>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Doc_Name</td>
                        <td>@i.Adm_Name</td>
                        <td><a href="#" onclick="keshi(@i.Pat_Id)"> @i.Pat_Name </a> </td>
                        <td>@i.Reg_Time</td>
                        @if (i.Reg_Type == 0)
                        {
                            <td>@Ajax.ActionLink("叫号", "JiaoHao", new { id = i.Reg_Id }, new AjaxOptions { OnSuccess = "fun" }) </td>
                        }
                        @if (i.Reg_Type == 1)
                        {
                            <td>正在就诊| <a href="#" onclick="AddDoctorecord(@i.Reg_Id)">结束就诊</a> </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div id="middle_box">
            <div class="middle_box_content"><img src="~/images/banner_content.jpg" alt="" title="" /></div>
        </div>



    </div>
</body>
</html>
